{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>G+</title>
        {% tailwind_css %}
        <script
            src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"
            defer></script>
        <!-- Ajout du CDN de Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet">

    </head>

    <style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: #1800f5;
    }
    </style>

    <body>
        <div class="flex h-screen bg-gray-50">
            <!-- Sidebar (hidden on small screens) -->
            <aside id="sidebar"
                class="w-64 p-3 bg-white border fixed inset-y-0 left-0 transform -translate-x-full transition-transform duration-300 ease-in-out sm:translate-x-0 sm:relative sm:flex-shrink-0">
                <button id="sidebarClose"
                    class="text-gray-500 focus:outline-none sm:hidden">
                    <svg class="w-6 h-6" fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>

                <div class="px-6 py-4">
                    <h1 class="text-2xl font-bold text-blue-600">Cash
                    </h1>
                </div>

                <nav class="mt-6">
                    <a href="{% url 'index' %}"
                        class="flex items-center px-4 py-2 mt-2 {% if request.path == '/caisse/' %}text-blue-600 bg-blue-100 rounded-lg{% else %}text-gray-600 hover:bg-blue-100 rounded-lg{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5 mr-2" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                        </svg>
                        <span class="ml-3">Dashboard</span>
                    </a>
                    <a href="{% url 'operation' %}"
                        class="flex items-center px-4 py-2 mt-2 {% if request.path == '/caisse/operations/' %}text-blue-600 bg-blue-100 rounded-lg{% else %}text-gray-600 hover:bg-blue-100 rounded-lg{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5 mr-2" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="ml-3">Opérations</span>
                    </a>
                    <a href="{% url 'listes' %}"
                        class="flex items-center px-4 py-2 mt-2 {% if request.path == '/caisse/listes/' %}text-blue-600 bg-blue-100 rounded-lg{% else %}text-gray-600 hover:bg-blue-100 rounded-lg{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5 mr-2" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
                            <path fill-rule="evenodd"
                                d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="ml-3">Listes</span>
                    </a>
                    <a href="{% url 'depenses' %}"
                        class="flex items-center px-4 py-2 mt-2 {% if request.path == '/caisse/depenses/' %}text-blue-600 bg-blue-100 rounded-lg{% else %}text-gray-600 hover:bg-blue-100 rounded-lg{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5 mr-2" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
                            <path fill-rule="evenodd"
                                d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="ml-3">Dépenses</span>
                    </a>
                    <a href="{% url 'acteurs' %}"
                        class="flex items-center px-4 py-2 mt-2 {% if request.path == '/caisse/acteurs/' %}text-blue-600 bg-blue-100 rounded-lg{% else %}text-gray-600 hover:bg-blue-100 rounded-lg{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5 mr-2" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
                        </svg>
                        <span class="ml-3">Acteurs</span>
                    </a>
                    <!-- Nouvel élément pour les utilisateurs -->
                    <a href="{% url 'utilisateurs' %}"
                        class="flex items-center px-4 py-2 mt-2 {% if request.path == '/caisse/utilisateurs/' %}text-blue-600 bg-blue-100 rounded-lg{% else %}text-gray-600 hover:bg-blue-100 rounded-lg{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5 mr-2" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                        </svg>
                        <span class="ml-3">Utilisateurs</span>
                    </a>
                    <a href="{% url 'historique' %}"
                            class="flex items-center px-4 py-2 mt-2 {% if request.path == '/caisse/historique/' %}text-blue-600 bg-blue-100 rounded-lg{% else %}text-gray-600 hover:bg-blue-100 rounded-lg{% endif %}">
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">

                                <path d="M16.0859 17.1875L11.7188 12.8203V5.46875H13.2812V12.1719L17.1875 16.0859L16.0859 17.1875Z" fill="#16151C"/>
    
                                <path d="M12.5 1.5625C11.0429 1.56271 9.60072 1.8553 8.25877 2.42294C6.91683 2.99058 5.70243 3.82174 4.6875 4.86719V1.5625H3.125V7.8125H9.375V6.25H5.53125C6.9969 4.62132 8.9867 3.55744 11.1551 3.24313C13.3235 2.92881 15.5335 3.38392 17.4012 4.52941C19.269 5.67489 20.6766 7.4384 21.3795 9.51364C22.0824 11.5889 22.0362 13.8448 21.249 15.8895C20.4617 17.9343 18.9832 19.6387 17.0701 20.7068C15.157 21.7749 12.9303 22.1392 10.7766 21.7364C8.62284 21.3336 6.67824 20.1892 5.28047 18.5019C3.88269 16.8146 3.12005 14.691 3.125 12.5H1.5625C1.5625 14.6632 2.20397 16.7779 3.4058 18.5765C4.60763 20.3752 6.31583 21.7771 8.3144 22.6049C10.313 23.4328 12.5121 23.6494 14.6338 23.2273C16.7555 22.8053 18.7043 21.7636 20.234 20.234C21.7636 18.7043 22.8053 16.7555 23.2273 14.6338C23.6494 12.5121 23.4328 10.313 22.6049 8.3144C21.7771 6.31583 20.3752 4.60763 18.5765 3.4058C16.7779 2.20397 14.6632 1.5625 12.5 1.5625Z" fill="#16151C"/>
    
                                </svg>
                        <span class="ml-3">Historique</span>
                    </a>

                    <a href="{% url 'parametres' %}"
                        class="flex items-center px-4 py-2 mt-2 {% if request.path == '/caisse/parametres/' %}text-blue-600 bg-blue-100 rounded-lg{% else %}text-gray-600 hover:bg-blue-100 rounded-lg{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5 mr-2" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="ml-3">Paramètres</span>
                    </a>
                </nav>
            </aside>

            <!-- Main content -->
            <div class="flex-1 flex flex-col">
                <!-- Header with button to toggle sidebar -->
                <header
                    class="flex items-center justify-between px-6 py-4 bg-white border-b border-gray-200">
                    <button id="sidebarToggle"
                        class="text-gray-500 focus:outline-none sm:hidden">
                        <svg class="w-6 h-6" fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                    <div class></div>
                    <div class="flex items-center">
                        <!-- Button to toggle sidebar -->

                        <!-- Button to close sidebar (visible only on small screens) -->

                        <input
                            class="w-64 px-4 py-2 ml-4 border border-gray-300 rounded-lg"
                            type="text"
                            placeholder="Entrer votre recherche ici">
                        {% if request.user.photo %}
                        <img class="w-10 h-10 ml-4 rounded-full object-cover"
                            src="{{ request.user.photo.url }}"
                            alt="Photo de profil de {{ request.user.username }}">
                        {% else %}
                        <img class="w-10 h-10 ml-4 rounded-full object-cover"
                            src="https://randomuser.me/api/portraits/women/50.jpg"
                            alt="Photo de profil de {{ request.user.username }}">
                        {% endif %}
                    </div>
                </header>

                <!-- Content -->
                <main class="p-6 overflow-y-auto h-full">
                    <div class="max-h-full">
                        {% if messages %}
                        <div class="mb-4">
                            {% for message in messages %}
                            <div
                                class="p-4 rounded-lg {% if message.tags == 'success' %}bg-green-100 text-green-700{% elif message.tags == 'error' %}bg-red-100 text-red-700{% endif %}">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% block content %}
                        <!-- Page content will go here -->
                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>

        <script>
    // Toggle the sidebar visibility
    const sidebarToggle = document.getElementById('sidebarToggle');
    const sidebarClose = document.getElementById('sidebarClose'); // New line
    const sidebar = document.getElementById('sidebar');
  
    sidebarToggle.addEventListener('click', () => {
      sidebar.classList.toggle('-translate-x-full');
    });
    
    sidebarClose.addEventListener('click', () => { // New event listener
      sidebar.classList.add('-translate-x-full');
    });
  </script>
    </body>
</html>
