{% extends "base_primary_employee.html" %} 

{% block title %} Nouveau employée {% endblock %}



{% block body %}  
    <div class="container mx-auto mt-20">
        <div class="">

            <h2 class="text-2xl font-bold mt-20 ">Ajouter un nouveau salarié</h2>
            <p class="text-xs font-semibold text-gray-400">Tout les salariés > Ajouter un nouveau salarié</p>
          
          </div>        
        <!-- Formulaire de création d'employé -->
       
        <div class="min-h-screen bg-white p-6">
            <div class="bg-white rounded-lg shadow-md max-w-6xl mx-auto p-8 border-2 border-gray500">
              
                <div class="flex space-x-8 mb-4">
                <button id="step1Nav" class="text-gray-600 font-semibold flex gap-2 text-center justify-between" >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11ZM12 21C15.866 21 19 19.2091 19 17C19 14.7909 15.866 13 12 13C8.13401 13 5 14.7909 5 17C5 19.2091 8.13401 21 12 21Z" fill="#000000"/>
                        </svg>
                        
                    <p class="mt-1"> Informations personnelles </p>
                </button>
                
                <button id="step2Nav" class="text-gray-600 font-semibold flex gap-2 text-center justify-between" >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 6V5C8 3.34315 9.34315 2 11 2H13C14.6569 2 16 3.34315 16 5V6M2 10.3475C2 10.3475 5.11804 12.4244 9.97767 12.9109M22 10.3475C22 10.3475 18.882 12.4244 14.0223 12.9109M6 22H18C20.2091 22 22 20.2091 22 18V10C22 7.79086 20.2091 6 18 6H6C3.79086 6 2 7.79086 2 10V18C2 20.2091 3.79086 22 6 22Z" stroke="#16151C" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M14 12.1602V13.1602C14 13.1702 14 13.1702 14 13.1802C14 14.2702 13.99 15.1602 12 15.1602C10.02 15.1602 10 14.2802 10 13.1902V12.1602C10 11.1602 10 11.1602 11 11.1602H13C14 11.1602 14 11.1602 14 12.1602Z" stroke="#16151C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                        
                    <p class="mt-1"> Informations professionnelles </p>
                </button>

                <button id="step3Nav" class="text-gray-600 font-semibold flex gap-2 text-center justify-between"">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 6C4 3.79086 5.79086 2 8 2H15.3431C16.404 2 17.4214 2.42143 18.1716 3.17157L20.8284 5.82843C21.5786 6.57857 22 7.59599 22 8.65685V18C22 20.2091 20.2091 22 18 22H8C5.79086 22 4 20.2091 4 18V6Z" stroke="#16151C" stroke-width="1.5" stroke-linejoin="round"/>
                        <path d="M9 7L17 7" stroke="#16151C" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M9 12H17" stroke="#16151C" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M9 17H13" stroke="#16151C" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                        <p class="mt-1">Documents </p>

                </button>
                <button id="step4Nav" class="text-gray-600 font-semibold flex gap-2 text-center justify-between"">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 8H8M16 8C18.2091 8 20 9.79086 20 12V18C20 20.2091 18.2091 22 16 22H8C5.79086 22 4 20.2091 4 18V12C4 9.79086 5.79086 8 8 8M16 8V6C16 3.79086 14.2091 2 12 2C9.79086 2 8 3.79086 8 6V8M14 15C14 16.1046 13.1046 17 12 17C10.8954 17 10 16.1046 10 15C10 13.8954 10.8954 13 12 13C13.1046 13 14 13.8954 14 15Z" stroke="#16151C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p class="mt-1">Accès au compte </p>
                </button>
              </div>



              <form action="{% url 'employee-list' %}" method="POST" enctype="multipart/form-data" class="space-y-6">
                {% csrf_token %}
                    
                            <div class="block grid grid-cols-2 gap-6" id="step1">
                                <div class="mb-4">
                                    <div class="flex items-center space-x-4">
                                        <!-- Input file caché (initialement visible) -->
                                        <label id="fileUploadLabel" for="fileUpload" class="cursor-pointer flex items-center ml-4 space-x-2 text-sm text-gray-500 py-2 px-4
                                            rounded-lg bg-gray-100 text-indigo-700 hover:bg-indigo-100 border border-gray-300
                                            font-semibold">
                                            <!-- Icône de caméra SVG -->
                                            
                                            <svg width="24" height="24" class="h-12 w-12 text-indigo-700 m-8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M15 13.5C15 15.1569 13.6569 16.5 12 16.5C10.3431 16.5 9 15.1569 9 13.5C9 11.8431 10.3431 10.5 12 10.5C13.6569 10.5 15 11.8431 15 13.5Z" stroke="#16151C" stroke-width="1.5"/>
                                                <circle cx="12" cy="7" r="1" fill="#16151C"/>
                                                <path d="M21 15.5V11.5C21 8.73858 18.7614 6.5 16 6.5H15.874C15.4299 4.77477 13.8638 3.5 12 3.5C10.1362 3.5 8.57006 4.77477 8.12602 6.5H8C5.23858 6.5 3 8.73858 3 11.5V15.5C3 18.2614 5.23858 20.5 8 20.5H16C18.7614 20.5 21 18.2614 21 15.5Z" stroke="#16151C" stroke-width="1.5" stroke-linejoin="round"/>
                                                </svg>
                                                
                                        </label>
                                        
                                        <input id="fileUpload" type="file" accept="image/*" name="photo" onchange="previewImage(event)" class="hidden">
                                
                                        <!-- Aperçu de l'image avec un bouton pour supprimer l'image -->
                                        <div id="previewContainer" class="hidden relative w-[145.78px] h-[129.79px] ml-8 bg-gray-100 rounded-lg overflow-hidden">
                                            <img id="imagePreview" class="w-full h-full object-cover" alt="Preview">
                                            <!-- Bouton pour changer l'image (croix rouge) -->
                                            <button id="removeImageButton" onclick="removeImage(event)" class="absolute top-0 right-0 mt-1 mr-1 text-red-600">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="#FF0000" viewBox="0 0 24 24" stroke="#FF0000">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div>

                                </div>
                        
                            <!-- Nom -->
                            <div class="mb-4">
                                <input type="text" name="nom" placeholder="Nom" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                    
                            <!-- Prénom -->
                            <div class="mb-4">
                                <input type="text" name="prenom" placeholder="Prénom" class="w-full px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>

                            <!-- Numéro de téléphone -->
                            <div class="mb-4">
                                <input type="text" name="numero_telephone" placeholder="Numéro de téléphone" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>

                            <!-- Email -->
                            <div class="mb-4">
                                <input type="email" name="email" placeholder="Adresse Email" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">

                            </div>

                            <!-- Date de naissance -->
                            <div class="relative mb-4  ">
                                <input type="date" id="date_naissance" name="date_naissance" 
                                       class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 peer" 
                                       required>
                                       <span id="datePlaceholder" class="absolute t-1 left-4 top-2 ">Date de naissance</span>
                            </div>
                            

                            <!-- etat civil -->
                            <div class="mb-4">
                                <select name="statut_matrimonial" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    <option value="" disabled selected>Etat civil</option>
                                    {% for etat in statut_matrimonial %}
                                    <option value="{{ etat.0 }}">{{ etat.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- sexe -->
                            <div class="mb-4">
                                <select name="sexe" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    <option value="" disabled selected> Sexe </option>
                                    {% for sex in sexe %}
                                    <option value="{{ sex.0 }}">{{ sex.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                    
                            

                            <!-- Nationalité -->
                            <div class="mb-4">
                                <input type="text" name="nationalite" placeholder="Nationalité" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                    
                            <!-- Adresse -->
                            <div class="mb-4">
                                <input type="text" name="adresse" placeholder="Adresse" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                    

                            <!-- Ville -->
                            <div class="mb-4">
                                <input type="text" name="ville" placeholder="Ville" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                            
                            <!-- Pays -->
                            <div class="mb-4">
                                <input type="text" name="pays" placeholder="Pays" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>

                            <!-- Code postale -->
                            <div class="mb-4">
                                <input type="text" name="code_postal" placeholder="Code postale" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>


                              <!-- Vide pour aliigner les autres -->
                              <div>

                              </div>
                <div class="flex justify-end gap-6">
                    <a href="javascript:history.back()" class="py-2 px-4 bg-white-100 text-black border border-gray rounded-md">Annuler</a>
                    <button type="button" class="btn-next py-2 px-4 bg-cp_primary text-white rounded-md">Suivant</button>
                  </div>
                        </div>

                        
            <div class="hidden grid grid-cols-2 gap-6" id="step2">
                         <!-- Type de salarié -->
                <div class="mb-4">
                    <select name="type_salarie" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="" disabled selected>Sélectionner le type de salarié</option>
                        {% for type in type_choices %}
                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <!-- Département -->
                <div class="mb-4">
                    <select name="departement" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="" disabled selected>Sélectionner un département</option>
                        {% for departement in departements %}
                        <option value="{{ departement.id }}">{{ departement.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
               
                 <!-- Contrat -->
                 <div class="mb-4">
                    <select name="type_contrat" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="" disabled selected>Sélectionner le type de contrat</option>
                        {% for contrat in contrat_choices %}
                        <option value="{{ contrat.0 }}">{{ contrat.1 }}</option>
                        {% endfor %}
                    </select>
                </div>

                 <!-- Poste -->
                 <div class="mb-4">
                    <select name="poste" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="" disabled selected>Sélectionner un poste</option>
                        {% for poste in postes %}
                        <option value="{{ poste.id }}">{{ poste.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
          
                <!-- Date d'embauche -->
                 <div class="relative mb-4  ">
                    <input type="date" id="date_embauche" name="date_embauche" 
                           class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 peer" 
                           required>
                           <span id="datePlaceholder2" class="absolute t-1 left-4 top-2 ">Date d'embauche</span>
                </div>
          
                <!-- Compétence -->
                <div class="mb-4">
                    <select name="competence" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="" disabled selected>Sélectionner un compétence</option>
                        {% for competence in competences %}
                        <option value="{{ competence.id }}">{{ competence.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                  <!-- Bouton de soumission -->
                  <div>
                                
                  </div>

                  <div class="flex justify-end gap-6">
                    <button type="button" class="btn-prev py-2 px-4 bg-white-100 text-black border border-gray rounded-md">Retour</button>
                    <button type="button" class="btn-next py-2 px-4 bg-cp_primary text-white rounded-md">Suivant</button>
                  </div>
            </div>
               
                  
            <div class="hidden grid grid-cols-2 gap-6" id="step3">
                
                    <!-- Upload CV -->
                    <div class="flex flex-col items-center justify-center p-4 border-dashed border-2 border-cp_primary rounded-lg cursor-pointer upload-container">
                        <div class="bg-cp_primary p-2 border border-indigo-800 rounded-lg">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 6L12 2M12 2L16 6M12 2L12 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.2454 9C19.3433 10.3696 20 12.1081 20 14C20 18.4183 16.4183 22 12 22C7.58172 22 4 18.4183 4 14C4 12.1081 4.65672 10.3696 5.75462 9" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div>
                            <span class="upload-label text-gray-700 text-sm mr-2">Glissez-déposez ou </span>
                            <span class="upload-label text-indigo-700 text-sm mr-2">choisissez le curriculum vitae </span>
                            <span class="upload-label text-gray-700 text-sm mr-2">à télécharger</span>
                        </div>
                        <input type="file" id="cv-input" class="hidden" name="curriculum_vitae" />
                        <label for="cv-input" class="file-name flex items-center ml-2">
                            <span id="cv-file-name" class="text-sm text-gray-300">Formats supportés: PDF, DOCX</span>
                            <svg class="close-icon w-4 h-4 ml-1 cursor-pointer hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </label>
                    </div>
                
                    <!-- Upload Lettre Introduction -->
                    <div class="flex flex-col items-center justify-center p-4 border-dashed border-2 border-cp_primary rounded-lg cursor-pointer upload-container">
                        <div class="bg-cp_primary p-2 border border-indigo-800 rounded-lg">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 6L12 2M12 2L16 6M12 2L12 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.2454 9C19.3433 10.3696 20 12.1081 20 14C20 18.4183 16.4183 22 12 22C7.58172 22 4 18.4183 4 14C4 12.1081 4.65672 10.3696 5.75462 9" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div>
                            <span class="upload-label text-gray-700 text-sm mr-2">Glissez-déposez ou </span>
                            <span class="upload-label text-indigo-700 text-sm mr-2">choisissez la lettre introduction </span>
                            <span class="upload-label text-gray-700 text-sm mr-2">à télécharger</span>
                        </div>
                        <input type="file" id="lettre-input" class="hidden" name="lettre_introduction" />
                        <label for="lettre-input" class="file-name flex items-center ml-2">
                            <span id="lettre-file-name" class="text-sm text-gray-300">Formats supportés: PDF, DOCX</span>
                            <svg class="close-icon w-4 h-4 ml-1 cursor-pointer hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </label>
                    </div>
                
                    <!-- Upload Bulletin Salaire -->
                    <div class="flex flex-col items-center justify-center p-4 border-dashed border-2 border-cp_primary rounded-lg cursor-pointer upload-container">
                        <div class="bg-cp_primary p-2 border border-indigo-800 rounded-lg">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 6L12 2M12 2L16 6M12 2L12 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.2454 9C19.3433 10.3696 20 12.1081 20 14C20 18.4183 16.4183 22 12 22C7.58172 22 4 18.4183 4 14C4 12.1081 4.65672 10.3696 5.75462 9" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div>
                            <span class="upload-label text-gray-700 text-sm mr-2">Glissez-déposez ou </span>
                            <span class="upload-label text-indigo-700 text-sm mr-2">choisissez le bulletin de salaire </span>
                            <span class="upload-label text-gray-700 text-sm mr-2">à télécharger</span>
                        </div>
                        <input type="file" id="bulletin-input" class="hidden" name="bulletin_salaire" />
                        <label for="bulletin-input" class="file-name flex items-center ml-2">
                            <span id="bulletin-file-name" class="text-sm text-gray-300">Formats supportés: PDF, DOCX</span>
                            <svg class="close-icon w-4 h-4 ml-1 cursor-pointer hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </label>
                    </div>
                
                    <!-- Upload Lettre Motivation -->
                    <div class="flex flex-col items-center justify-center p-4 border-dashed border-2 border-cp_primary rounded-lg cursor-pointer upload-container">
                        <div class="bg-cp_primary p-2 border border-indigo-800 rounded-lg">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 6L12 2M12 2L16 6M12 2L12 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.2454 9C19.3433 10.3696 20 12.1081 20 14C20 18.4183 16.4183 22 12 22C7.58172 22 4 18.4183 4 14C4 12.1081 4.65672 10.3696 5.75462 9" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div>
                            <span class="upload-label text-gray-700 text-sm mr-2">Glissez-déposez ou </span>
                            <span class="upload-label text-indigo-700 text-sm mr-2">choisissez la lettre motivation </span>
                            <span class="upload-label text-gray-700 text-sm mr-2">à télécharger</span>
                        </div>
                        <input type="file" id="motivation-input" class="hidden" name="lettre_motivation" />
                        <label for="motivation-input" class="file-name flex items-center ml-2">
                            <span id="motivation-file-name" class="text-sm text-gray-300">Formats supportés: PDF, DOCX</span>
                            <svg class="close-icon w-4 h-4 ml-1 cursor-pointer hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </label>
                    </div>
        

                  <!-- Bouton de soumission -->
                  <div>
                                
                  </div>

                  <div class="flex justify-end gap-6">
                    <button type="button" class="btn-prev py-2 px-4 bg-white-100 text-black border border-gray rounded-md">Retour</button>
                    <button type="button" class="btn-next py-2 px-4 bg-cp_primary text-white rounded-md">Suivant</button>
                  </div>
            </div>


            <div class="hidden grid grid-cols-2 gap-6" id="step4">               
                <!-- id_facebook -->
                <div class="mb-4">
                    <input type="text" name="id_facebook" placeholder="Entrer l'ID facebook" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                    
                <!-- id_skype -->
                <div class="mb-4">
                    <input type="text" name="id_skype" placeholder="Entrer l'ID Skype" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                    
                <!-- id_github -->
                <div class="mb-4">
                    <input type="text" name="id_github" placeholder="Entrer l'ID GitHub" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                    
                <!-- id_linkedln -->
                <div class="mb-4">
                    <input type="text" name="id_linkedln" placeholder="Entrer l'ID Linkedln" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>

                  <!-- Bouton de soumission -->
                  <div>
                                
                  </div>  

                <div class="flex justify-end gap-6">
                    <button type="button" class="btn-prev py-2 px-4 bg-white-100 text-black border border-gray rounded-md">Retour</button>
                    <button type="submit" class="btn-submit py-2 px-4 bg-cp_primary text-white rounded-md">Confirmer</button>
                </div>
        
            </div>
            
        </div>

              
           
          
            </form>


            </div>
          </div>
            
      
    </div>
    
    {% endblock %}  

    {% block script %} 
    <script>
        function previewImage(event) {
            const reader = new FileReader();
            const imagePreview = document.getElementById('imagePreview');
            const previewContainer = document.getElementById('previewContainer');
            const fileUploadLabel = document.getElementById('fileUploadLabel');
            const fileUpload = document.getElementById('fileUpload');
        
            reader.onload = function() {
                if (reader.readyState === 2) {
                    imagePreview.src = reader.result;
                    imagePreview.classList.remove('hidden');
                    previewContainer.classList.remove('hidden');
                    fileUploadLabel.classList.add('hidden'); // Cache le label d'upload
                    fileUpload.classList.add('hidden'); // Cache l'input
                }
            }
        
            reader.readAsDataURL(event.target.files[0]);
        }
        
        function removeImage() {
            event.preventDefault(); // Empêche toute soumission ou action par défaut
            const imagePreview = document.getElementById('imagePreview');
            const previewContainer = document.getElementById('previewContainer');
            const fileUploadLabel = document.getElementById('fileUploadLabel');
            const fileUpload = document.getElementById('fileUpload');
        
            // Réinitialise l'input file
            fileUpload.value = '';
        
            // Cache l'aperçu et affiche à nouveau le bouton d'upload
            imagePreview.classList.add('hidden');
            previewContainer.classList.add('hidden');
            fileUploadLabel.classList.remove('hidden');
        }


            // JavaScript pour gérer la navigation entre les étapes
            const steps = document.querySelectorAll('div[id^="step"]');
        const nextButtons = document.querySelectorAll('.btn-next');
        const prevButtons = document.querySelectorAll('.btn-prev');
        const navButtons = document.querySelectorAll('button[id^="step"]');

        let currentStep = 0;

        function showStep(stepIndex) {
            steps.forEach((step, index) => {
                step.classList.toggle('hidden', index !== stepIndex);
                step.classList.toggle('block', index === stepIndex);
            });
        }

        nextButtons.forEach((button, index) => {
            button.addEventListener('click', () => {
                currentStep = index + 1; // Passer à l'étape suivante
                showStep(currentStep);
                updateNavButtons();
            });
        });

        prevButtons.forEach((button, index) => {
            button.addEventListener('click', () => {
                currentStep = index; // Revenir à l'étape précédente
                showStep(currentStep);
                updateNavButtons();
            });
        });

        navButtons.forEach((button, index) => {
            button.addEventListener('click', () => {
                currentStep = index; // Aller directement à l'étape correspondante
                showStep(currentStep);
                updateNavButtons();
            });
        });

        function updateNavButtons() {
            navButtons.forEach((button, index) => {
                button.classList.toggle('font-bold', index === currentStep);
            });
        }

        // Afficher la première étape initialement
        showStep(currentStep);


        // Gère le placeholder de date de naissance
        const inputDate = document.getElementById('date_naissance');
        const placeholder = document.getElementById('datePlaceholder');
        
            // Fonction pour cacher le placeholder au clic
        placeholder.addEventListener('click', function() {
            placeholder.classList.add('hidden'); // Cache le placeholder
            inputDate.focus(); // Donne le focus à l'input
        });

        // Enlève le placeholder par défaut
        inputDate.addEventListener('focus', function() {
            placeholder.classList.add('hidden'); // Cache le placeholder lors du focus
        });

        inputDate.addEventListener('blur', function() {
            if (!this.value) {
                placeholder.classList.remove('hidden'); // Montre le placeholder si aucune date n'est sélectionnée
            }
        });
        
        // Enlève le placeholder par défaut
        inputDate.addEventListener('focus', function() {
            this.type = 'date'; // Change le type pour afficher le sélecteur de date
        });

        inputDate.addEventListener('blur', function() {
            if (!this.value) {
                this.type = 'text'; // Remet le type à text si aucune valeur
            }
        });


         // Gère le placeholder de date d'embauche
         const inputDate2 = document.getElementById('date_embauche');
        const placeholder2 = document.getElementById('datePlaceholder2');
        
            // Fonction pour cacher le placeholder au clic
        placeholder2.addEventListener('click', function() {
            placeholder2.classList.add('hidden'); // Cache le placeholder
            inputDate2.focus(); // Donne le focus à l'input
        });

        // Enlève le placeholder par défaut
        inputDate2.addEventListener('focus', function() {
            placeholder2.classList.add('hidden'); // Cache le placeholder lors du focus
        });

        inputDate2.addEventListener('blur', function() {
            if (!this.value) {
                placeholder2.classList.remove('hidden'); // Montre le placeholder si aucune date n'est sélectionnée
            }
        });
        
        // Enlève le placeholder par défaut
        inputDate2.addEventListener('focus', function() {
            this.type = 'date'; // Change le type pour afficher le sélecteur de date
        });

        inputDate2.addEventListener('blur', function() {
            if (!this.value) {
                this.type = 'text'; // Remet le type à text si aucune valeur
            }
        });
        
        document.querySelectorAll('.upload-container').forEach(container => {
        const input = container.querySelector('input[type="file"]');
        const fileNameLabel = container.querySelector('.file-name span');
        const closeIcon = container.querySelector('.close-icon');

        input.addEventListener('change', function() {
            const fileName = input.files[0] ? input.files[0].name : "Formats supportés: PDF, DOCX";
            fileNameLabel.textContent = fileName;
            closeIcon.classList.remove('hidden');
        });

        closeIcon.addEventListener('click', function() {
            input.value = null;
            fileNameLabel.textContent = "Formats supportés: PDF, DOCX";
            closeIcon.classList.add('hidden');
        });
    });
        </script>
    {% endblock %}

