<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demande de congé</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    
  

    
<script>

        document.querySelectorAll('.upload-container').forEach(container => {
                const input = container.querySelector('input[type="file"]');
                const fileNameLabel = container.querySelector('.file-name span');
                const closeIcon = container.querySelector('.close-icon');

                input.addEventListener('change', function() {
                    const fileName = input.files[0] ? input.files[0].name : "Formats supportés: Image, PDF, DOCX";
                    fileNameLabel.textContent = fileName;
                    closeIcon.classList.remove('hidden');
                });

                closeIcon.addEventListener('click', function() {
                    input.value = null;
                    fileNameLabel.textContent = "Formats supportés: Image, PDF, DOCX";
                    closeIcon.classList.add('hidden');
                });
            });
</script>


</body>
</html>