{% extends "base_primary_employee.html" %}

{% block title %} Liste des historiques {% endblock %}

{% block style %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
{% endblock %}


{% block body %}
    

    <div class="max-w-screen mx-auto p-6 bg-white mt-12 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-4 mt-4">Historiques</h2>
        <p class="text-gray-600 mb-6">Toutes les historiques</p>

        <div class="min-h-screen bg-white p-6">
    
            <div class="bg-white rounded-lg shadow-md max-w-screen mx-auto p-4 border-2 border-gray500">

        {% for historique in historiques %}

        <form id="historique" class="flex items-center justify-between p-4">

            <div class="flex items-center space-x-4">
                <div class="bg-purple-500 text-white p-3 rounded-full">
                    <img src="{{ historique.utilisateur.photo.url }}" alt="">
                </div>
                <div>
                    <h3 class="font-bold">{{ historique.categorie }} || {{ historique.action }}</h3>
                    <p class="text-gray-600">{{ historique.consequence }}</p>
                </div>
            </div>
            <small class="text-gray-300" id="historique-{{ historique.id }}-time" data-timestamp="{{ historique.date_action }}">
                <!-- La date sera insérée dynamiquement ici -->
            </small>
        </form>
                  {% endfor %}


        </div>
      </div>
    </div>
{% endblock %}

{% block script %}

<script>
    

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('small[data-timestamp]').forEach(function(element) {
            var timestamp = element.getAttribute('data-timestamp');
            var relativeTime = moment(timestamp).fromNow();  // Calculer le temps relatif
            element.innerHTML = "Il y a " + relativeTime;  // Afficher le temps relatif
        });
    });
</script>

{% endblock %}
