{% extends "base_primary_employee.html" %}

{% block title %} Liste des historiques {% endblock %}

{% block style %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
{% endblock %}


{% block body %}
    

    <div class="max-w-screen mx-auto p-6 bg-white mt-12 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-4 mt-4">Historiques</h2>
        <p class="text-gray-600 mb-6">Toutes les historiques</p>

        <div class="min-h-screen bg-white p-6">
    
            <div class="bg-white rounded-lg shadow-md max-w-screen mx-auto -mt-4 p-4 border-2 border-gray500">

        {% for historique in historiques %}

        <div  class="flex items-center justify-between p-4">

            <div class="flex items-center space-x-4">
                <img src="{{ historique.utilisateur.employee.photo.url }}" alt="{{ historique.utilisateur.username }}" class="w-12 h-12 rounded-full">
                <div>
                    <h3 class="font-bold">
                        {{ historique.get_categorie_display }} || {{ historique.get_action_display }}
                    </h3>
                    <p class="text-gray-600">{{ historique.consequence }} <span class="text-gray-400 font-semibold">Par @{{ historique.utilisateur.username }} </span>.</p>
                </div>
            </div>
            <small class="text-gray-300" ">
                Il y a {{ historique.date_action|timesince }} 
                       </small>
        </div>
                  {% endfor %}


        </div>
      </div>
    </div>
{% endblock %}

{% block script %}



{% endblock %}
