{% extends "base_primary_employee.html" %}

{% block title %} Paremètres {% endblock %}

{% block body %}
<div class="container mx-auto mt-20">
  <div class="">

      <h2 class="text-2xl font-bold mt-20 ">Paramètres </h2>
      <p class="text-xs font-semibold text-gray-400">Tout les paramètres et prréférences</p>
    
    </div>     
  <!-- Paramètres Form -->
  <div class="container mx-auto mt-2 border bg-white p-6 rounded-lg shadow-lg">

    <form method="POST" action="{% url 'personnel:settings' %}">
      {% csrf_token %}
    
      <div class="mb-4 flex justify-between ">
        <div>
          <h3 class="text-lg font-bold">Apparence</h3>
          <p class="text-xs text-gray-300">
            Personnalisez l'apparence de votre thème
          </p>
        </div>
        <select id="theme" name="theme" class="mt-1 block w-32 bg-gray-100 border-gray-300 rounded-md" onchange="this.form.submit()">
          <option value="light" {% if settings.theme == "light" %}selected{% endif %}>Clair</option>
          <option value="dark" {% if settings.theme == "dark" %}selected{% endif %}>Sombre</option>
        </select>
      </div>
    </form>
    
    <form method="POST" action="{% url 'personnel:settings' %}">
      {% csrf_token %}
      <div class="mb-4 flex justify-between">
        <div>
          <h3 class="text-lg font-bold">Langue</h3>
          <p class="text-xs text-gray-300">
            Sélectionnez votre langue
          </p>
        </div>
        <select id="language" name="language" class="mt-1 block w-32 bg-gray-100 border-gray-300 rounded-md" onchange="this.form.submit()">
          <option value="fr" {% if settings.language == "fr" %}selected{% endif %}>Français</option>
          <option value="en" {% if settings.language == "en" %}selected{% endif %}>Anglais</option>
        </select>
      </div>
    </form>
    
    <form method="POST" action="{% url 'settings' %}">
      {% csrf_token %}
      
      <div class="mb-4 flex items-center justify-between">
        <label for="desktop_notifications" class="block text-sm font-medium text-gray-700 mr-3">
          <div>
            <h3 class="text-lg font-bold">Notification sur le bureau</h3>
            <p class="text-xs text-gray-300">
              Recevoir des notifications sur le bureau
            </p>
          </div>
        </label>
        <label for="desktop_notifications" class="relative cursor-pointer mt-5">
          <input id="desktop_notifications" type="checkbox" name="receive_desktop_notifications" class="sr-only peer" {% if settings.receive_desktop_notifications %}checked{% endif %} onchange="this.form.submit()">
          <div class="w-11 h-6 bg-gray-300 rounded-full peer-checked:bg-green-500 transition-colors duration-200 ease-in-out"></div>
          <div class="absolute left-0 top-0 w-6 h-6 bg-white rounded-full border border-gray-300 transform transition-transform duration-200 ease-in-out peer-checked:translate-x-5"></div>
        </label>
      </div>
      
      <div class="mb-4 flex items-center justify-between">
        <label for="email_notifications" class="block text-sm font-medium text-gray-700 mr-3">
          <div>
            <h3 class="text-lg font-bold">Notification par email</h3>
            <p class="text-xs text-gray-300">
              Recevoir des notifications par email
            </p>
          </div>
        </label>
        <label for="email_notifications" class="relative cursor-pointer mt-5">
          <input id="email_notifications" type="checkbox" name="receive_email_notifications" class="sr-only peer" {% if settings.receive_email_notifications %}checked{% endif %} onchange="this.form.submit()">
          <div class="w-11 h-6 bg-gray-300 rounded-full peer-checked:bg-green-500 transition-colors duration-200 ease-in-out"></div>
          <div class="absolute left-0 top-0 w-6 h-6 bg-white rounded-full border border-gray-300 transform transition-transform duration-200 ease-in-out peer-checked:translate-x-5"></div>
        </label>
      </div>
    
    </form>
    
    

   
    
    
    
  
    <!-- Formulaire pour changer le mot de passe -->
    <div class="flex justify-between">
      <div>
      <h3 class="text-lg font-bold"> Sécurité</h3>
      <p class="text-xs text-gray-300">
        Modifier votre mot de passe
      </p>
    </div>
      <button id="open-password-popup" class="text-white font-bold py-2 px-4 rounded">
        <svg width="42" height="42" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.5625 14.25L36.8125 28.5L22.5625 42.75" stroke="#A28FF7" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          
      </button>
    </div>    
     

      <!-- Le popup pour changer le mot de passe -->
  <div id="password-popup" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50 hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
      <h3 class="text-lg font-medium">Changer le mot de passe</h3>
      <form id="password-change-form" method="POST" action="{% url 'personnel:password_change' %}">
          {% csrf_token %}
          
          <div class="mb-4">
              <label for="old_password" class="block text-sm font-medium text-gray-700">Ancien mot de passe</label>
              <input id="old_password" name="old_password" type="password" class="mt-1 block w-full bg-gray-100 border border-gray-300 rounded-md px-4 py-2">
          </div>
          
          <div class="mb-4">
              <label for="new_password" class="block text-sm font-medium text-gray-700">Nouveau mot de passe</label>
              <input id="new_password" name="new_password" type="password" class="mt-1 block w-full bg-gray-100 border border-gray-300 rounded-md px-4 py-2">
          </div>
          
          <button type="submit" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-md w-full">
              Changer le mot de passe
          </button>
      </form>

      <!-- Bouton pour fermer le popup -->
      <button id="close-password-popup" class="mt-4 border-2 hover:bg-red-700 text-black font-bold py-2 px-4 rounded-md w-full">
         Annuler 
      </button>
    </div>
  </div>


 <!-- Formulaire pour exporter la base de données -->
 <div class="mt-4">
 <form method="POST" action="{% url 'personnel:export_database' %}">
  {% csrf_token %}
<div class=" flex justify-between">
  <label for="table">
     <div>
    <h3 class="text-lg font-bold ">Sauvegarde</h3>
    <p class="text-xs text-gray-300">
      Faire une sauvegarde en local
    </p>
  </div>    
</label>
  <div class="flex gap-2 md:gap-8 ">
  <select name="table" id="table" class="mt-1 block w-24 h-12 md:h-full md:w-40 bg-gray-100 border-gray-300 rounded-md">
    <option value="all">Tout exporter</option>
    <option value="personnel_employee">Employés</option>
    <option value="personnel_paie">Paie</option>
    <option value="personnel_conge">Congés</option>
    <option value="personnel_schedule">Horaires</option>
  </select>
  <button type="submit" class="mt-1 bg-purple-600 text-white py-2 px-4 w-24 h-12 md:h-full md:w-36 rounded-md">
    Exporter
  </button>
</div>
</div>
</div>

</form>
    <!-- Lien pour se déconnecter -->
    <div class="mt-4 flex justify-between">
      <div>
      <h3 class="text-lg font-bold">Déconnexion</h3>
      <p class="text-xs text-gray-300">
        Fermer la session et quitter
      </p>
    </div>
    <div class="mt-2 ">
        <a href="{% url 'personnel:logout' %}" class="">
          <svg width="36" height="36" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.5 4.75V28.5M43.7 15.675C46.6845 18.6606 48.7181 22.4632 49.5444 26.603C50.3706 30.7429 49.9525 35.0348 48.3427 38.9374C46.733 42.8399 44.0037 46.1785 40.499 48.5319C36.9943 50.8853 32.8712 52.1483 28.6497 52.1615C24.4282 52.1747 20.2973 50.9376 16.778 48.6062C13.2586 46.2748 10.5084 42.9534 8.87426 39.061C7.24008 35.1686 6.79508 30.8794 7.59539 26.7344C8.39569 22.5895 10.4054 18.7743 13.3712 15.77" stroke="#8D75F5" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
    </div>
  </div>
</div>
  {% endblock %}

  {% block script %}
  <script>
    // Gestion du pop-up
    document.addEventListener('DOMContentLoaded', function() {
      const popup = document.getElementById('success-popup');
      const closeButton = document.getElementById('close-popup');
      
      if (closeButton) {
        closeButton.addEventListener('click', function() {
          popup.style.display = 'none';
        });
      }
    });

     // Gestion du pop-up
     document.addEventListener('DOMContentLoaded', function() {
      const popup1 = document.getElementById('passoword-popup');
      const closeButton1 = document.getElementById('closepassoword-popup');
      
      if (closeButton1) {
        closeButton1.addEventListener('click', function() {
          popup1.style.display = 'none';
        });
      }
    });

     // Sélection des éléments
     const openPopupButton = document.getElementById('open-password-popup');
    const closePopupButton = document.getElementById('close-password-popup');
    const passwordPopup = document.getElementById('password-popup');

    // Ouvrir le popup lorsque le bouton est cliqué
    openPopupButton.addEventListener('click', () => {
        passwordPopup.classList.remove('hidden');
    });

    // Fermer le popup lorsque le bouton "Annuler" est cliqué
    closePopupButton.addEventListener('click', () => {
        passwordPopup.classList.add('hidden');
    });
  </script>
  {% endblock %}

