{% extends 'layout/layout.html' %}

{% block title_page %}Modifier l'Opération d'Entrée{% endblock %}

{% block content %}
<div class="container mx-auto bg-white dark:bg-secondary dark:text-white rounded-lg border p-6">

    <div class="flex w-full justify-end"><a href="{% url 'caisse:liste_entrees' %}">
            <button
                class="bg-rose-100 hover:bg-rose-300 text-red font-bold py-2 px-4 rounded">Annuler
                la modification</button>
        </a>
    </div> <br><br>

    <form method="POST" action="{% url 'caisse:modifier_entree' entree.id %}">
        {% csrf_token %}

        <div>
            <!-- Ligne d'édition pour l'opération existante -->
            <div class="flex gap-4 flex-wrap flex-col md:flex-row mb-8">

                <!-- Date -->
                <div
                    class="mb-4 flex shadow-sm border-gray-500 border-b-2">
                    <span
                        class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">Date:</span>
                    <input type="date" name="date"
                        value="{{ entree.date_transaction|date:'Y-m-d' }}"
                        class="dateInput focus:ring-0 block flex-1 border-none w-full bg-transparent py-1.5 pl-1 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                        required>
                </div>

                <!-- Désignation -->
                <div
                    class="mb-4 px-2 shadow-sm border-gray-500 border-b-2">
                    <input type="text" name="description"
                        value="{{ entree.description }}"
                        placeholder="Désignation *"
                        class="block flex-1 focus:ring-0 border-none w-full bg-transparent py-1.5 pl-1 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                        required>
                </div>
                
                <!-- Bénéficiaire -->
                <div class="mb-4 px-2 shadow-sm border-gray-500 border-b-2">
                    <select name="beneficiaire"
                    class="block flex-1 border-none bg-transparent py-1.5 pl-1 placeholder:text-gray-400 sm:text-sm sm:leading-6 w-full focus:ring-0 dark:bg-secondary dark:text-white dark:placeholder:text-gray-500">
                    <option value disabled>Choisissez un bénéficiaire</option>
                    {% for beneficiaire in beneficiaires %}
                    <option value="{{ beneficiaire.id }}" {% if beneficiaire.id == entree.beneficiaire_id %}selected{% endif %}>
                        {{ beneficiaire }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Client -->
                <div
                    class="mb-4 px-2 shadow-sm border-gray-500 border-b-2">
                    <input type="text" name="client"
                        value="{{ entree.client }}"
                        placeholder="Client"
                        class="block flex-1 focus:ring-0 border-none w-full bg-transparent py-1.5 pl-1 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                        required>
                </div>

                <!-- Montant -->
                <div class="mb-4 px-2 shadow-sm border-gray-500 border-b-2">
                    <input type="number" name="montant"
                        value="{{ entree.montant }}"
                        placeholder="Montant *"
                        class="block flex-1 focus:ring-0 w-full border-none bg-transparent py-1.5 pl-1 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                        required>
                </div>

                <!-- Catégorie -->
                <div class="mb-4 px-2 shadow-sm border-gray-500 border-b-2">
                    <select name="categorie"
                        class="block flex-1 border-none bg-transparent py-1.5 pl-1 placeholder:text-gray-400 sm:text-sm sm:leading-6 w-full focus:ring-0 dark:bg-secondary dark:text-white dark:placeholder:text-gray-500">
                        <option value disabled>Choisissez une catégorie</option>
                        {% for categorie in categories_entree %}
                        <option value="{{ categorie.id }}" {% if categorie.id == entree.categorie_id %}selected{% endif %}>
                            {{ categorie.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="flex justify-end">
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enregistrer
                les modifications</button>
        </div>
    </form>
</div>
{% endblock %}