{% extends "base_log_employee.html" %}

{% block title %} Récupération de compte {% endblock %}

{% block body %}  
<div class="flex items-center justify-center ">
    <h1 class="text-7xl font-bold text-center">🎉 </h1>
</div>


<div class="flex flex-col items-center justify-center space-y-1 ">
    
        <p class=" text-2xl font-bold">
            Mise à jour du mot de pase
        </p>
        <p class=" text-2xl font-bold">
        Avec succès 
        </p>
   
        <p class="text-xs text-gray-400 pt-4">
            Votre mot de passe à bien été mise à jour.
        </p>
</div> 

<div class="m-4 pt-4 ">
    <a href="{% url 'accounts:signIn' %}">  <!-- Remplace 'login' par le nom de ton URL de connexion -->
        <button type="submit"
            class="w-full bg-cp_primary text-white py-2 px-4 rounded-md hover:bg-indigo-700 transition">
                Retour à la connexion
        </button>
    </a>
</div>
{% endblock %}