{% extends "base_log_employee.html" %}

{% block title %} Récupération de compte {% endblock %}


{% block extra_head %}
<style>
.has-value {
    border-color: indigo;
    box-shadow: 0 0 5px rgba(119, 14, 193, 0.137);
}
</style>
{% endblock %}

{% block body %} 
<a href="javascript:history.back()"> 
<div xmlns="http://www.w3.org/2000/svg" class="flex items-center gap-2 -mt-4 mb-6">
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
      </svg>   
       <h1 class="text-lg mt-1 text-black-400" >Retour</h1>
</div>
</a>


<div class="flex flex-col space-y-1">
    <p class=" text-2xl font-bold">
        Entrez OTP
    </p>
    <p class="text-xs text-gray-400 ">
       Nous avons partagé un code à votre adresse e-mail enregistrée
       {{ request.session.email }}
    </p>

</div> 

{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="text-sm text-red">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


<form id="otpForm" action="" method="POST"> 
    {% csrf_token %}

    <div class="flex relative z-0 w-full mb-4 group gap-2">
        <input type="text" id="otp1" maxlength="1" required
            class="otp-input p-4 m-1 block w-12 px-3 py-2 text-center border border-gray-300 rounded-md shadow-sm text-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
        <input type="text" id="otp2" maxlength="1" required
            class="otp-input p-4 m-1 block w-12 px-3 py-2 text-center border border-gray-300 rounded-md shadow-sm text-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
        <input type="text" id="otp3" maxlength="1" required
            class="otp-input p-4 m-1 block w-12 px-3 py-2 text-center border border-gray-300 rounded-md shadow-sm text-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
        <input type="text" id="otp4" maxlength="1" required
            class="otp-input p-4 m-1 block w-12 px-3 py-2 text-center border border-gray-300 rounded-md shadow-sm text-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
        <input type="text" id="otp5" maxlength="1" required
            class="otp-input p-4 m-1 block w-12 px-3 py-2 text-center border border-gray-300 rounded-md shadow-sm text-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
    </div>
    
    

    <button type="submit"
        class="w-full bg-cp_primary text-white py-2 px-4 rounded-md hover:bg-indigo-700 transition">
        Vérifier
    </button>
      <!-- Champ caché pour soumettre l'OTP combiné -->
      <input type="hidden" id="otp" name="otp">
</form>

{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const inputs = document.querySelectorAll('.otp-input');
        
        // Focus automatiquement sur le champ suivant après avoir saisi un caractère
        inputs.forEach((input, index) => {
            input.addEventListener('input', () => {
                if (input.value.length === 1 && index < inputs.length - 1) {
                    inputs[index + 1].focus();
                }
            });
        });

        // Lors de la soumission du formulaire, combiner les valeurs des champs
        const otpForm = document.getElementById('otpForm');
        otpForm.addEventListener('submit', function(e) {
            e.preventDefault();  // Prévenir la soumission pour vérifier l'OTP
            
            let otpValue = '';
            inputs.forEach(input => {
                otpValue += input.value;
            });

            // Assigner l'OTP combiné au champ caché
            document.getElementById('otp').value = otpValue;

            // Maintenant soumettre le formulaire
            otpForm.submit();
        });
    });

    // focus des input_otp
    const otpInputs = document.querySelectorAll('.otp-input');

    otpInputs.forEach(input => {
        input.addEventListener('input', (event) => {
            if (event.target.value !== "") {
                event.target.classList.add('has-value');
            } else {
                event.target.classList.remove('has-value');
            }
        });
    });
</script>
{% endblock %}